{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!DOCTYPE html>

<html lang="ja" class="my-5 mx-3">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>マイページ</title>
<link rel="stylesheet" href="{% static 'makeshift/selectdays.css' %}">

</head>
<body>

<h2 class="bg-light"><big>{{ loginuser }}</big><small>さん。こんにちは。</small></h2> 
{{ loginuser }}さんのマイページです。<br><br>

<form action="submitdays">

<h3><i><b>シフト登録</b></i></h3>
来月のシフト登録はこちら↓<br><br>
<button class="btn btn-success btn-lg">シフト登録 & 各種設定</button>
</form>
<br><hr>

<h4><i><b>{{ groupID }}メンバー提出状況</b></i></h4>
{% for user in group_users %}
	<p>{{ user.name }}{{ user.days }}</p>
{% endfor %}

<hr>
<h3><i><b>シフト作成</b></i></h3>
**カレンダーから<span class="text-danger">休業日を選択</span>してから<b>シフト作成</b> ボタンを押してください。
<br><br>

<div id="calendar"></div>
<br>
<form method="post" action="shift">
	{% csrf_token %}
	<input type="hidden" id="rest_days" name="rest_days">
	<input type="submit" class="btn btn-warning btn-lg" value="シフト作成">
</form>

<hr>

<form action="../logout">
<button type="submit" class="btn btn-secondary">ログアウト</button>
</form>

<script type ="text/javascript" src="{% static 'makeshift/selectdays.js' %}"></script>
</body>
</html>