{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!DOCTYPE html>
<html class="my-3 mx-4">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>shiftmaker</title>
</head>
<body class="hold-transition login-page">
<h1>シフト管理</h1>
<b>**飲食店専用</b><br>
<b>**ホールとキッチン二人体制のシフト専用</b><br><br>

<h3>全体の使用手順</h3>
<ol>
<li>メンバーが各自ログイン</li>
<li>各自翌月の出勤可能日を登録する(出勤日の他いくつか設定オプションあり)</li>
<li>メンバー全員が登録したら、シフト作成ボタンで翌月のシフトを自動作成</li>
<li>自動作成されたシフトは編集も可能です。手直ししてスクリーンショット等で記録してください。</li>
</ol>

<h3>補足 及び 注意事項</h3>
<ul>
<li>グループIDを設定する場所がありますので、メンバー全員が同じIDを設定してください。</li>
<li>グループIDはグループで任意に決めて下さい。</li>
<li>シフトは、ホール担当とキッチン担当のペアで組みます。</li>
<li>両方担当を指定することもできます。</li>
<li>シフト作成はメンバー誰でも行う事ができます。</li>
</ul>


<a href="login">はじめる</a>

</body>
</html>