{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!DOCTYPE html>
<html class="my-3 mx-4">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>シフト管理</title>

</style>
</head>
<body class="hold-transition login-page">
  <h1>シフト管理</h1>
  
  <h2>ログイン</h2>

  <form action="" method="POST"> 
    {% csrf_token %}
    {% for field in form %}
      {{ field }} 
      <br>
    {% endfor %}

    {% for error in form.non_field_errors %}    
      <p>{{ error }}</p>
    {% endfor %}

    <button type="submit" class="btn btn-primary">ログイン</button>
  </form>
  <br>
  
  <h2>新規登録</h2>
  <p>初めての方は<a href="../signup/">
  こちら</a>からアカウント登録をしてください。</p>

</body>
</html>