{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!DOCTYPE html>

<html lang="ja" class="my-5 mx-3">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>シフト提出</title>
<link rel="stylesheet" href="{% static 'submitdays/submitdays.css' %}">

</head>
<body>

<h2 class="bg-light"><big>{{ loginuser }}</big><small>さん</small></h2> 
<form action="../mypage">
<button type="submit" class="btn btn-secondary">マイページへ戻る</button>
</form>
<hr>
<h3><i><b>シフト提出</b></i></h3>
1. 入れる日をタップして選択<br>
2. 表示名などを指定(変更がない場合はそのまま)<br>
3. 送信ボタンで保存<br><br>
<div id="calendar"></div>

<br>
<form method="post">
	{% csrf_token %}
	<b><i>表示名:</i></b> {{ profile_form.name }}<br>
	<b><i>キッチンorホール:</i></b> {{ profile_form.role }}<br>
	<b><i>シフト多め希望:</i></b> {{ profile_form.morethan }}<br>
	*他のメンバーより2日ほど多くなります。<br>
	*他との兼ね合いで多くならないこともあります。<br><br>
	<b><i>グループID:</i></b> {{ profile_form.group }}<span class="text-danger"><br>*グループIDはグループ全員が共通したIDを設定してください。半角5文字以上推奨。</span><br>
	{{ profile_form.days.as_hidden }}<br>

	<input type="submit" class="btn btn-primary btn-lg" id="send" value="送信">
</form>

<br><hr>


<script type ="text/javascript" src="{% static 'submitdays/submitdays.js' %}"></script>
</body>
</html>